* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  font-family: Lato, sans-serif;
  padding: 40px 20px 0;
  color: #fcfcfc;
  font-size: 1.1rem;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
  color: #fd971f;
}

h1 > small {
  font-size: 1.2rem;
  color: #ddd;
}

header, main {
  width: 95%;
  margin: 0 auto;
}

section {
  margin: 3rem 0;
}

h2 {
  font-size: 1.8rem;
  color: #f92672;
  margin-bottom: 20px;
}

h2::before {
  content: '# ';
}

div.content {
  margin: 1rem 0 2rem;
}

img.screencast {
  display: block;
  width: 90%;
  margin: auto;
}

code {
  background-color: #111;
  border-radius: 4px;
  font-family: Menlo, monospace;
  font-size: 1rem;
  padding: 3px 6px;
}

code.block {
  display: block;
  margin: 1rem auto;
  padding: 10px 20px;
}

li {
  list-style-type: none;
  margin-bottom: 2px;
}

li::before {
  content: '- ';
}

a, a:active, a:hover, a:visited {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 20px 0;
}

.prompt::before {
  content: '$ ';
  color: #999;
}

details {
  margin-bottom: 1rem;
}

summary {
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #333;
}

td {
  border: #666 solid 1px;
  padding: 5px 15px;
}

td.key {
  text-align: center;
}
